body{
    background-color : #fdf6eccd ;
    text-align: center ;
    padding: 20px ;
}
img{
    width : 600px;
    border-radius: 15px;
    
}
h1{
    color : #8b3a3a;
}
h2{
    color : #8b3a3a ;
    
}
.beskrivning {
    background-color : #f3d6d6;
    padding: 10px;
    border-radius: 10px;
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
}