body{
    background-color : #fdf6eccd ;
    text-align: left ;
    padding: 20px ;
}
img{
    width : 600px;
    border-radius: 15px;
    
}
h1{
    color : #8b3a3a;
}
h2{
    color : #8b3a3a ;
    
}
.beskrivning {
    background-color : #f3d6d6;
    padding: 10px;
    border-radius: 10px;
    max-width: 600px;
    margin: 20px 0;
    text-align: left;
}
h3{
    color: black;
    font-weight:bold;
}
p{
    color : #555;
    font-size: 14px;
}

ul, ol {
    padding-left: 20px;

}
.bilder {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.bilder img {
  width: 180px;
  border-radius: 15px;
}